.container-wrapper {
  display: flex;
  height: 78vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.card-wrapper {
  max-width: 30%;
}

.header-button {
  width: 100%;
  height: 30px;
}

.header-button button:first-child {
  float: left;
}

.header-button button:last-child {
  float: right
}