<mat-card class="mat-elevation-z8">
    <mat-card-subtitle>Apenas será considerado o filtro onde você estiver digitando, ou seja, sem combinações.
    </mat-card-subtitle>
    <form>

        <mat-form-field class="example-full-width">
            <mat-label>Título</mat-label>
            <input type="text" placeholder="Ex. Uncharted" matInput [formControl]="titlesControl"
                [matAutocomplete]="autoTitle" (input)="applyFilter($event.target.value)"
                (keyup.enter)="applyFilter($event.target.value)">
            <mat-autocomplete #autoTitle="matAutocomplete" [displayWith]="displayTitles">
                <mat-option *ngFor="let wine of filteredTitles | async" [value]="wine"
                    (click)="applyFilter($event.target.innerText)">
                    {{wine.title}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Desenvolvedor</mat-label>
            <input type="text" placeholder="Ex. Naughty Dog" matInput [formControl]="developersControl"
                [matAutocomplete]="autoDeveloper" (input)="applyFilter($event.target.value)"
                (keyup.enter)="applyFilter($event.target.value)">
            <mat-autocomplete #autoDeveloper="matAutocomplete" [displayWith]="displayDevelopers">
                <mat-option *ngFor="let wine of filteredDevelopers | async" [value]="wine"
                    (click)="applyFilter($event.target.innerText)">
                    {{ wine.developer }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Gênero</mat-label>
            <input type="text" placeholder="Ex. Ação" matInput [formControl]="genresControl"
                [matAutocomplete]="autoGenre" (input)="applyFilter($event.target.value)"
                (keyup.enter)="applyFilter($event.target.value)">
            <mat-autocomplete #autoGenre="matAutocomplete" [displayWith]="displayGenres">
                <mat-option *ngFor="let wine of filteredGenres | async" [value]="wine"
                    (click)="applyFilter($event.target.innerText)">
                    {{ wine.genre }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </form>
</mat-card>

<div class="flex-container">
    <div *ngFor="let wine of wines; let i = index;" class="item-card">
        <mat-card class="flex-item card-container mat-elevation-z8">

            <mat-card-header (click)="abrirModalDetalhes(wine)">
                <mat-card-title>{{ wine.name }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <img style="object-fit: cover;" [src]="transformImageUrl(wine?.image_url)" width="200px" height="200px"
                    onerror="this.src='../../../../assets/img/dump3.png'" [alt]="wine?.name">
            </mat-card-content>

            <hr>
            <span class="preco-avista">{{ 10 | currency }} à vista</span> <br>
            <span class="preco-parcelado">{{ 100 | currency }} parcelado</span>

            <mat-card-actions>
                <div style="padding-bottom: 15px;">
                    <a class="cursor-pointer edit" routerLink="/wines/update/{{ wine.id }}">
                        <i class="material-icons">
                            edit
                        </i>
                    </a>
                    <a class="cursor-pointer delete" routerLink="/wines/delete/{{ wine.id }}">
                        <i class="material-icons">
                            delete
                        </i>
                    </a>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div *ngIf="wines.length == 0">
    <mat-card>
        Ainda não há vinhos cadastrados! Para contribuir você precisa estar logado
    </mat-card>
</div>